@import "~bootstrap/dist/css/bootstrap.min.css";
/* You can add global styles to this file, and also import other style files */

/* .centre {
  background-color: #bb3b3b;
} */

body {
  background-color: lightblue;
  text-align: center;
}
